@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blog-card {
    @apply w-[260px] h-[260px] transition hover:-translate-y-2 hover:cursor-pointer shadow-lg rounded-md bg-white;
  }
  .modify-btn {
    @apply w-10 text-modifyfont underline hover:text-modifyfontHover;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;

  color: rgb(var(--foreground-rgb));
  background: RGBA(250, 250, 250, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
